[2018-10-11 10:29] hugecannon commented on #162
@lottamus is there any functionality currently live which accomplishes this?

i.e. exposing some 'public' env to the published docs

[2018-10-11 12:18] mduesterhoeft commented on #162
Would be great if you could provide a roadmap for this issue.

[2018-10-11 20:46] tbarn commented on #331
Hi @leoarnold! Stoplight Next is our latest version. Both Classic and Next are being supported now. Eventually, we will encourage and help users migrate to Next, but for now, you don't need to.

[2018-10-15 17:13] tatiana-perry commented on #301
Giving this a bump. Biggest complaint during testing https://devcenter-staging-demo.docs.stoplight.io/

[2018-10-15 20:15] tbarn commented on #301
Hey @tatiana-perry, does this look like #263? A fix is in our next release that is about to be released.

[2018-10-15 21:55] #331 closed

[2018-10-15 21:55] tbarn commented on #263
Hey @erik-hansen! We have released a fix for this. You will need to rebuild your docs. Let us know if you have any issues!

[2018-10-15 21:55] #263 closed

[2018-10-15 21:57] tbarn commented on #301
@tatiana-perry @geniusdibya could y'all rebuild your docs to see if the latest release fixes this?

[2018-10-15 21:57] #275 closed

[2018-10-15 21:57] #276 closed

[2018-10-15 21:57] #279 closed

[2018-10-15 21:57] #294 closed

[2018-10-15 21:57] #313 closed

[2018-10-16 09:10] #301 closed

[2018-10-16 09:16] geniusdibya opened #332 "Build & Publish- Not showing the logs"
Earlier when I click on "Build & Publish", a live log shows in a black screen showing the progress of the build. Now, it seems after the latest release this feature is not working.

I waited for around 15 mins, still it is showing the status as "Preparing Logs..."  While the build was successful but logs don't get updated.

![loader](https://user-images.githubusercontent.com/16018669/47005735-fa7f

[2018-10-16 12:09] stevenbennitt opened #333 "Custom CSS loading out of order since latest release"
Since the release yesterday afternoon, the custom.css styles are now being overridden by  main.css and styles.css styles.

It appears to be requesting, receiving and processing them in a different order now

My only workaround at the moment would be to add !important tags to all my custom css which I'd really not like to do.

[2018-10-16 17:30] tbarn commented on #332
Hey @geniusdibya! We're working on bringing logs back. It's because the docs are now building so quickly that the logs aren't getting a chance to fully print out.

Probably the definition of a good problem to have. 😆

[2018-10-16 21:54] tbarn commented on #329
The authentication section is a bit more helpful now: https://docs.stoplight.io/api-reference/documentation#authentication

I'm going to go ahead and close this. If you have any auth issues, let me know.

[2018-10-16 21:54] #329 closed

[2018-10-17 06:57] mduesterhoeft commented on #329
@tbarn Thank you - this is much better now!

[2018-10-17 12:03] mduesterhoeft opened #334 "Env variables not working in Oauth2 tokenUrl and authorizeUrl"
The host name for our REST API is used as a tenant descriminator. So every user would use the API with a special hostname that limits access to his/her data.

So it would be great if each user could also issue test requests in the API reference using his/her host.

I can use env variable in the `host` field of my OpenAPI spec to allow this.

The problem is that also the oauth2 `authorizationUrl` a

[2018-10-18 09:19] mduesterhoeft commented on #326
Do you have any idea when we can expect this? Not having the scopes displayed is really bad from my point of view.

[2018-10-18 18:30] #233 closed

[2018-10-18 22:31] #196 closed

[2018-10-18 22:31] #318 closed

[2018-10-19 21:28] tbarn commented on #334
We don't have support for env variables here for right now, but we've got this tracked and will try to include it in one of the upcoming sprints.

[2018-10-20 01:44] lottamus commented on #333
This issue has been fixed and deployed. You will need to republish your docs for the changes to take effect.

[2018-10-20 01:44] #333 closed

[2018-10-20 15:45] tbarn commented on #326
@mduesterhoeft We'll hopefully get this in one of the near future releases. A PR was just opened for it this week.

[2018-10-22 12:32] geniusdibya commented on #332
Thank you @tbarn @lottamus . It's working now.

[2018-10-22 16:00] ntiss opened #335 "UI Crashes : "Darn! Something went wrong""
The UI often crashes when modeling and switching between panes, or anything else.
Here is a simple way to reproduce in the "Servers" section :
 - first, display an "API",
 - then, go on "RULES"
 - finally go back on the API... and crash.

See this GIF :
![bug_crashui_in_mock](https://user-images.githubusercontent.com/29988779/47303452-3455b900-d624-11e8-9c75-f9240d98bdb1.gif)

[2018-10-22 16:15] ntiss opened #336 "Mocking fails if the file contains a space"
The Prism Server fails if the server filename contains a space :
![image](https://user-images.githubusercontent.com/29988779/47304204-3b7dc680-d626-11e8-99d5-d13e709fbb51.png)

Solutions :
 - either prevent the user from creating a such file right from the beginning in the creation screen
 - or url-encode the filename in the Prism url (with %20)

[2018-10-22 16:23] ntiss opened #337 "File name is too long in Servers (Mock)"
It's possible to create a prism serveur with this name "aVeryVeryVeryVeryLongFilename" without any warning in the creation screen.

The "Create" button works but there is an error message in the UI right after :
![image](https://user-images.githubusercontent.com/29988779/47304532-353c1a00-d627-11e8-8737-5a0a97a3c9e5.png)

(Of course, it's not possible to rename the file)

[2018-10-22 16:33] ntiss opened #338 "Missing organizations in the UI"
I can only see the first 12 orgs on which I'm authorized whereas I'm authorized on 25.

There is a bug in the API since https://next-api.stoplight.io/orgs?page=1&per_page=25 only responds with 12 orgs instead of 25.

Cause : the per_page arg is curiously handled :
- per_page=5 : 4 orgs in the response
- per_page=25 : 12 orgs in the response
- per_page=40 : 23 orgs in the response
- per_page=4 : 23

[2018-10-22 20:13] tbarn commented on #336
Hey @ntiss! I believe @pytlesk4 is looking into this right now.

[2018-10-22 20:59] #336 closed

[2018-10-22 20:59] tbarn commented on #336
He'll get a build out later today fixing it!

[2018-10-22 21:19] tbarn commented on #335
Hey @ntiss! We should have a fix for this soon.

[2018-10-24 10:15] ntiss commented on #335
Hi Taylor,

Thanks, I hope that it will fix all issues like this.
I found another easy way to reproduce in the "Testing" section :

![bug_crashui_in_scenario](https://user-images.githubusercontent.com/29988779/47423835-5d8e5a80-d786-11e8-958b-63057ebba8d9.gif)

- first, open the "Contract Test Settings" bloc (important)
- then, display anything else.
- go back to Swagget/OAS Coverage... and crash

[2018-10-24 22:00] rossmcdonald commented on #335
@ntiss The fix for this issue is now in production. Let us know if you continue to see these errors.

[2018-10-26 16:44] Julioocz opened #339 "Request using the desktop client fails"
The prism server after using the app for a few seconds or after making a request.

![image](https://user-images.githubusercontent.com/21016151/47580402-6ad94f80-d914-11e8-9af7-8e524f8cbd52.png)

[stoplight.local-1540572104394.log](https://github.com/stoplightio/desktop/files/2520057/stoplight.local-1540572104394.log)

[2018-10-26 20:32] tbarn commented on #339
Hi @Julioocz! We'd love to check this out on your project specifically. Could you send us an email to support@stoplight.io with the name of the organization/project? Also, what version of the desktop app are you using?

[2018-10-29 16:01] tbarn commented on #338
Hey @ntiss - I'm having a bit of trouble replicating this right now. You are seeing this on the hosted version of Stoplight, right? Just wanted to make sure it wasn't on premise.

[2018-10-29 16:02] tbarn commented on #338
When I do that request, I see:

<img width="288" alt="screen shot 2018-10-29 at 11 01 48 am" src="https://user-images.githubusercontent.com/2008034/47663030-116a5e00-db6a-11e8-8b00-0933a7e96e29.png">

[2018-10-29 17:09] ntiss commented on #338
Hi Taylor,
Yes I'm on the hosted version. Both with the desktop app and via a browser.

[2018-10-29 17:13] ntiss opened #341 "Unable to link external steps in Testing"
With the new version of the exporter, it's not possible anymore to link steps to external scenarios.
The url is appended with "?deref=all" whereas the url already contains a question mark :

![bug_externalstep_in_scenario](https://user-images.githubusercontent.com/29988779/47667402-282ea600-dba6-11e8-8fa9-cc8e63ce54c8.gif)

[2018-10-29 17:26] ntiss opened #342 "Testing : Linked steps with old exporter URL doesn't work"
It fails when running a step linked to an external scenario with the old exporter url :
![image](https://user-images.githubusercontent.com/29988779/47668078-d555ee00-dba7-11e8-8382-ed788d9b22ef.png)

Is there a workaround? (except moving to the new url format because of #341 )
Do you plan to update all the urls in the scenarios of the customer ?

[2018-10-29 17:29] tbarn commented on #338
@ntiss Okay, and just to make sure this is when you do the request to https://next-api.stoplight.io/orgs?page=1&per_page=25? Not just in the UI like the issue title says.

[2018-10-29 18:06] tbarn commented on #339
I'm going to go ahead and closet this issue since we are talking about it via support specific to your specification. We'll get it figured out there!

[2018-10-29 18:06] #339 closed

[2018-10-30 17:37] ntiss commented on #335
Hi, please reopen this issue.
Here is a new way to reproduce :
 - open a project
 - view a scenario
 - open the "Trigger This Collection"... and crash

In a GIF :
![bug_crashui_in_triggerthisscenario](https://user-images.githubusercontent.com/29988779/47738050-9345ae80-dc72-11e8-8c55-ebaa13be8578.gif)

This issue is now blocking because we can't read the commandline elsewhere.

[2018-10-30 18:03] rossmcdonald commented on #335
@ntiss Thanks for letting us know. Looking into this now.

[2018-10-31 09:20] rluvaton opened #343 "Integrate with QuickType"
Please integrate with [QuickType](https://quicktype.io/) to make a quick definition to code

[2018-10-31 15:08] #215 closed

[2018-10-31 15:09] rossmcdonald commented on #215
This has now been implemented.

[2018-10-31 21:59] tbarn commented on #343
Hey @rluvaton! Do you find yourself in the code view more than the design view of the editor?

[2018-11-01 07:57] rluvaton commented on #343
@tbarn Thank you for the quick response.
I didn't know about the code view
But as a programmer, I think it's important to get instance typing for requests

[2018-11-01 19:18] tbarn commented on #343
@rluvaton ahhh, yes. I see where you want it now. It would be nice to have it and an improvement on what we currently have.

[2018-11-01 19:19] tbarn commented on #342
@ntiss all good now?

[2018-11-01 19:20] tbarn commented on #341
@ntiss the release should be live for this on the web app, all good now?

[2018-11-05 17:00] ntiss commented on #341
Hi Taylor.
Checked, it works fine now. Thanks.

[2018-11-05 17:10] ntiss commented on #342
Hi Taylor,
The issue still occurs when using the old exporter URL. Have you tried to fix something ?

[2018-11-05 17:13] ntiss commented on #335
Fixed on hosted version.

[2018-11-05 17:13] #335 closed

[2018-11-09 07:10] #320 closed

[2018-11-09 07:55] lottamus commented on #337
Hey @ntiss ,

We've updated the UI to show an error. A work around to renaming the file is to open the raw view and copy the file contents then create a new file.

![image](https://user-images.githubusercontent.com/7423098/48249982-5a1fe380-e3c2-11e8-99e5-0b1e993d7ba1.png)

[2018-11-09 07:55] #337 closed

[2018-11-09 08:17] lottamus commented on #307
I think the easiest way to accomplish this would be to grab the export URL and add it to your OAS info description using markdown

[2018-11-09 17:22] lottamus commented on #326
This will go out in the next hotfix release on Tuesday, 11/13/2018

[2018-11-10 12:45] lottamus commented on #162
Published Hub environment variables are coming soon!

![image](https://user-images.githubusercontent.com/7423098/48301459-30df8000-e4b4-11e8-93a5-8e92f48815a9.png)

[2018-11-10 17:19] jayshao commented on #162
Sweet!

On Sat, Nov 10, 2018 at 7:45 AM Chris Lott <notifications@github.com> wrote:

--

Jason Shao

Head of Engineering

T: 212 644-6200 x9536

M: 732 221-9771

jason.shao@intersection.com

@jayshao <https://twitter.com/jayshao>

Intersection

10 Hudson Yards 26th Floor New York NY 10001

intersection.com

[2018-11-13 04:28] #162 closed

[2018-11-13 17:45] tbarn commented on #206
Intercom chat is no longer in Classic

[2018-11-13 17:45] #206 closed

[2018-11-13 18:45] tbarn commented on #115
Just checked, still happening on Safari 12. Will get this logged internally.

[2018-11-13 18:54] tbarn commented on #312
I'm going to close since this is a duplicate of #51. We'll be working to address this there.

[2018-11-13 18:54] #312 closed

[2018-11-13 18:57] tbarn commented on #299
Hey @usmanovbf, just wanted to check in once more on the reproduction steps for this. Otherwise, I'm going to close this issue son.

[2018-11-13 20:19] tbarn commented on #342
@ntiss I'm going to reach out to get this fixed in your specification specifically and close for now.

[2018-11-13 20:19] #342 closed

[2018-11-13 20:37] #323 closed

[2018-11-13 20:39] #321 closed

[2018-11-13 20:53] #316 closed

[2018-11-13 20:56] tbarn commented on #315
Hi! Just wanted to give an update: We're going to add this to the sprint for the next release.

[2018-11-13 21:07] tbarn commented on #314
Hey @jslowack! It looks like this got fixed. Let us know if you are still having issue with it.

[2018-11-13 21:07] #314 closed

[2018-11-14 08:56] distinctgrey opened #344 "Recursive JSON Schema breaks Viewer"
Sometimes a model needs to reference itself, creating a recursive situation.
This is completely valid JSON Schema, but seems to break the Viewer in Stoplight.

**Example**

![screen shot 2018-11-14 at 09 54 20](https://user-images.githubusercontent.com/1928790/48471105-6c02eb80-e7f3-11e8-8cf1-decf446f6078.png)

![screen shot 2018-11-14 at 09 54 26](https://user-images.githubusercontent.com/1928790

[2018-11-14 22:48] tbarn commented on #344
Hey @distinctgrey! What are you thinking it should look like in the UI when it is a recursive model?

[2018-11-15 16:34] tatiana-perry commented on #324
Is there a timeframe for this?

[2018-11-15 17:36] tbarn commented on #324
Hey @tatiana-perry - it hasn't gotten put into a sprint (yet) but we now have it in Jira internally so it is in a better place to get implemented. I'll check to see if we have near-term plans to add it in.

We are working on cleaning up the issues in this repo so nothing slips through the cracks!

[2018-11-15 21:03] tbarn commented on #305
Hey @aarunraja - I think we may have fixed this issue. Could you please try again and let me know if it is still happening?

[2018-11-15 21:13] #306 closed

[2018-11-15 21:33] tbarn commented on #297
Hey @erik-hansen - can you retest this? We're going through some older issues now. I haven't been able to replicate this.

[2018-11-15 21:43] tbarn commented on #291
@usmanovbf could you give me an example of this in a specification?

[2018-11-15 23:36] #148 closed

[2018-11-15 23:36] #149 closed

[2018-11-15 23:36] #221 closed

[2018-11-15 23:36] #134 closed

[2018-11-15 23:36] #147 closed

[2018-11-18 15:38] ntiss commented on #338
Fixed, successfully tested in 4.6.5.
Many thanks.

[2018-11-19 08:32] jslowack commented on #314
Thanks!

[2018-11-19 14:38] distinctgrey commented on #344
Hi @tbarn !

I'd suggest to keep it simple, either:
- show the model name without further nesting
- just show "recursive reference"
?

[2018-11-19 16:46] #302 closed

[2018-11-19 16:46] #330 closed

[2018-11-19 16:49] tbarn commented on #292
Just wanted to share an update on this issue: Originally I had plans to make this happen, but over the next couple of months we will be moving away from GitHub Issues and encouraging the use of the [forum](http://community.stoplight.io) where others share bugs, support questions, feature requests, etc. So I will be closing this issue for now since we will encourage users to go use the forum instea

[2018-11-19 16:49] #292 closed

[2018-11-19 16:49] #83 closed

[2018-11-19 16:50] #102 closed

[2018-11-19 16:51] #11 closed

[2018-11-19 17:03] lottamus commented on #198
This issue has been fixed

[2018-11-19 17:03] #198 closed

[2018-11-19 18:07] lottamus commented on #54
You can accomplish this by looking at the Table of Contents viewer

[2018-11-19 18:07] #54 closed

[2018-11-19 22:17] erik-hansen commented on #297
Works as expected now in 4.6.5 - Thanks!

[2018-11-19 22:17] #297 closed

[2018-11-21 17:23] tatiana-perry opened #345 "Allow for json objects to be copy/paste"
Currently, the site does now allow for JSON schemas to be copy/pasted or even selected. This persists across the visual editor and on the API Reference pages.

Examples:
https://developer.bigcommerce.com/api-docs/catalog/products/products-overview#products-overview_object-properties
https://developer.bigcommerce.com/api-reference/catalog/catalog-api/catalog/getvariants

It would be great if the te

[2018-11-26 22:33] tbarn commented on #345
Until this is fixed, here's a workaround that may help you: https://community.stoplight.io/t/make-api-reference-content-pulled-from-swagger-copyable/186/3

[2018-11-27 16:21] tatiana-perry commented on #345
That worked! Thank you!

[2018-11-27 16:21] #345 closed

[2018-11-27 21:19] tatiana-perry opened #346 "Webpage with javascript show in meta description"
https://developer.bigcommerce.com/changelog
When sharing a link to a page that is just javascript it shows the javascript used to create the page in the meta description.

Workaround for anyone else having this issue:
Create html that is 132 characters.Tags, line breaks (`</br`>) and spaces do not count.

<img width="589" alt="screen shot 2018-11-27 at 3 18 35 pm" src="https://user-images.githubus

[2018-11-27 22:16] tbarn commented on #346
Nice catch. Just before I go try it, did you try putting in a meta description into a `<head>` tag in the HTML file?

[2018-11-27 22:18] tbarn commented on #346
And if that doesn't work, what to do think about that as a solution? Allows you to set your own meta tags on HTML pages.

[2018-11-27 22:34] tatiana-perry commented on #346
Setting a head and meta tag, still returns the same results.  I have tried to set it up like a webpage with a head, body element with the same results.
<img width="1044" alt="screen shot 2018-11-27 at 4 33 08 pm" src="https://user-images.githubusercontent.com/16635677/49116096-341f8d80-f262-11e8-9f00-b5f7619d00a6.png">

[2018-11-29 04:41] aarunraja commented on #300
Hi @tbarn Thanks reply. it working fine of Authorization code and implicit grant flow. but facing same issue for Client Credential and Password flow. I am using Azure B2C as my Authorization server.

[2018-11-29 21:50] tbarn commented on #346
Good to know. I've opened up something internally to get this fixed up.

[2018-11-29 21:54] tbarn commented on #224
We've recently add this mocking FAQ: https://docs.stoplight.io/mocking/faq

Also, it will soon be added to response in the error cases where we don't have a helpful, specific error message. We usually see if a few different reasons why it fails, which are now covered in the FAQ.

We're also working on a newer version of Prism, which should hopefully have helpful error messages.

[2018-11-29 21:54] #224 closed

[2018-11-30 13:37] ntiss opened #347 "Problem with $$.env variables in utilities"
$$.env variables that are populated inside utilities, within a script $$.env.set(), are not shared (or returned) with the caller scenario.
When a utilities scenario is called by reference, the $$.env vars stay empty in the main scenario even if they are well fed in the script step (visible in the ca.pture tab).
However, it works fine with $.ctx variables.

Please find in attachment a simple scenar

[2018-11-30 20:13] tbarn commented on #347
@ntiss thanks for reporting this! I will take a look into it. How much of a blocker is this for you? I can get it added to the current sprint, but it will be a couple of weeks before the fix would be released.

[2018-11-30 21:37] ntiss commented on #347
Hi @tbarn
This is not blocking at all for us since we can work through $.ctx vars.
I opened this issue because it's really weird and inconsistent between $.ctx and $$.env.

[2018-12-03 21:56] jayshao commented on #283
This behavior has become increasingly problematic for projects with multiple people trying to edit specs (esp. when doing bug squash / tech editing) to the point where we have started funelling all edits through a single person - bypassing much of the benefit of using a tool...

[2018-12-03 22:02] jayshao commented on #207
This would save a lot of editing complexity for my teams - much of the proliferation of model variations and inheritance is to allow for "system assigned" fields like `id`, `created_on` timestamps, etc.

[2018-12-03 22:06] jayshao commented on #88
@marbemac curious where on the priority queue this kind of filtering is landing - or if there are any interim workarounds?

For context - we currently treat one of our product lines as a single, cohesive set of APIs, but very much want to split out the APIs we expose to different audiences (e.g. depending in our case on if they are a publisher, send us data, or buy advertising). In the past we had

[2018-12-03 22:08] jayshao commented on #181
any further thoughts on this? for *my* purposes, #88 is an approach I could also use to manage this case

[2018-12-03 22:08] jayshao commented on #87
Wondering if this is still in the works

[2018-12-05 14:29] tatiana-perry opened #348 "User Permissions"
When managing an organization the current user permissions are difficult for the number of people we use. We are slowly moving our engineering teams to Stoplight to streamline publishing and its becoming difficult to manage users and teams at this level. An estimated 50 - 70 users are expected over time.

It would make more sense to have
An Organization Admin - Someone who can hand out logins and

[2018-12-05 17:33] tbarn commented on #285
@rflprr we've fixed some things with tags in the UI. Are you still having the issue?

[2018-12-05 17:41] tbarn commented on #286
Hey! This is a feature right now, but it is a bit hidden:

<img width="1343" alt="screen shot 2018-12-05 at 11 36 37 am" src="https://user-images.githubusercontent.com/2008034/49532648-a3106e00-f882-11e8-846e-79154da16afe.png">

It looks like this in the UI:

<img width="201" alt="screen shot 2018-12-05 at 11 36 53 am" src="https://user-images.githubusercontent.com/2008034/49532650-a3106e00-f882-1

[2018-12-05 17:42] #286 closed

[2018-12-05 17:44] tbarn commented on #281
Hey! This will be fixed in a major version of the editor next year.

[2018-12-05 17:59] tbarn commented on #273
Hey @usmanovbf! This will be fixed in the next major version of the editor.

[2018-12-05 18:06] tbarn commented on #270
Looks like the same issue as #309, going to close this one since we've opened an internal ticket on that one.

[2018-12-05 18:06] #270 closed

[2018-12-05 22:20] tbarn commented on #7
Hey @probonopd! I know it has been a while, but we are going to go ahead and close this since we haven't seen the same issue on newer versions and we are many versions ahead now. Thanks for reporting way back though!

[2018-12-05 22:20] #7 closed

[2018-12-06 21:40] tbarn commented on #348
@tatiana-perry the current architecture makes some of this a bit difficult now, and we totally feel your pain. We're going to be making some changes though to make this more possible though.

[2018-12-07 22:08] ntiss opened #349 "Bug with private variables editor in Firefox Quantum"
The private variables are nor editable or visible with Firefox Quantum (Version 63.0.3 - Windows 64 bits).
Only the resolved variables can be viewed with the toggle button.

See this gif :
![issue_quantum_privatevars](https://user-images.githubusercontent.com/29988779/49675197-eaf6e700-fa74-11e8-8f92-03d4ef16652b.gif)

[2018-12-07 22:18] ntiss opened #350 "Weird behaviour with the private variables editor"
The private variables are only visible and editable after clicking twice on the "Resolved" toggle button.
It's the deactivation of "Resolved" that makes the JSON bloc appear in a correct manner.

See this gif :
![issue_privatevarseditor](https://user-images.githubusercontent.com/29988779/49675380-b2a3d880-fa75-11e8-96c7-f6f87f89ef1a.gif)

Reproduced on Chrome (71.0.3578.80) and also in the desktop

[2018-12-07 22:23] ntiss opened #351 "Personal Projects tab is missing"
The "Personal Projects" tab is missing right after logging in. It appears only after refreshing the page.
The problem is present both within a browser and in the desktop app.

![image](https://user-images.githubusercontent.com/29988779/49675627-cd2a8180-fa76-11e8-8351-2444c0bfdf75.png)

[2018-12-11 20:12] mta59066 commented on #350
I have a similar problem where I don't see the ".stoplight" under CONFIG section on the lower left corner, and when I open Environments window, I don't see "Default", "Staging" and "Production".

[2018-12-11 21:19] rossmcdonald commented on #350
@mta59066 Can you give us more information about your environment (browser, desktop app, etc)? And does this issue happen consistently?

We haven't had any other reports of the `.stoplight` file missing or the Environments window not displaying the appropriate environments.

[2018-12-12 15:59] juliuszfedyk commented on #315
Hi tbarn! How are we on this?

[2018-12-12 17:10] tbarn commented on #315
@juliuszfedyk the sprint started earlier this week and this issue is in progress.

[2018-12-14 18:59] tbarn commented on #341
@ntiss checking in on this right now.

[2018-12-17 15:49] nirsoffer-spotcap commented on #319
Hi there! Looking for a status update on this? We are going to go live soon and as auth0 demands the audience parameter for oidc compliant tickets we are kind of stuck without a solution - as the doc portal does not support it.

[2018-12-17 17:39] tbarn commented on #341
@ntiss just wanted to make sure, it is not happening in the web app for you, right?

It went out as a hotfix and I'm looking to see if it maybe didn't make it into the desktop app release.

[2018-12-18 17:01] tbarn commented on #341
@ntiss I'm not able to replicate what was happening before. Are you getting the same error or a different one?

[2018-12-20 23:36] ntiss commented on #341
Hi Taylor,
Sorry for the delay. The bug is now more likely a UI issue.
The dropdown list doesn't work unless I change the value of the external URL.
Please see with Ross. I sent him an animated GIF on Slack showing the behaviour of this dropdown list. I can't post the image here publicly.

[2018-12-21 23:07] lottamus commented on #347
This issue has been fixed in [v4.7.0](https://community.stoplight.io/t/changelog-v4-7-0). Thanks for reporting!

[2018-12-21 23:07] #347 closed

[2018-12-21 23:09] lottamus commented on #315
This issue has been fixed in [v4.7.0](https://community.stoplight.io/t/changelog-v4-7-0). Thanks for reporting!

[2018-12-21 23:09] #315 closed

[2018-12-26 15:37] lottamus opened #353 "Hubs --> Links with query parameters are being escaped in markdown"
**Reproduce**
1. Create a Hub or Markdown file
2. Create a markdown link with query params such as `[click here](https://example.com?foo=1&bar=2)`
3. Notice the link resolves to https://example.com/?foo=1&amp%3Bbar=2 instead of https://example.com/?foo=1&bar=2

[2018-12-27 22:17] brianmrock commented on #353
This fix is scheduled for the next release near the end of January

[2018-12-27 22:46] lottamus opened #354 "Hubs --> Request body examples are not displayed"
**Reproduce**
1. Create an OAS2 file
2. Create an operation with a request body & example
3. Notice the request body example is not displayed in read mode or in the published Hub

![image](https://user-images.githubusercontent.com/7423098/50496596-b4b6e280-09f6-11e9-95f3-28f78f076b0c.png)

![image](https://user-images.githubusercontent.com/7423098/50496603-bed8e100-09f6-11e9-80fe-6a958e3a56a2.png)

[2018-12-29 02:24] erikkai opened #355 "All API pages are broken!"
I have pages where I call out an individual API and show a piece of it as reference material. Something happened in the past two weeks where every single API reference is broken and it will not correctly display the content of the JSON file. There are multiple parameters and it will show 1 parameter incorrectly formatted on many of the pages.

I had to roll back 2 weeks to get things working but I

[2018-12-29 13:02] lottamus commented on #355
Hey @erikkai ,

That's not good! Is this only happening in the Stoplight Platform, only in your published Hub, or in both places?

Are these references to a full API spec or are they references to a single operation inside the API spec?

[2019-01-02 19:41] erikkai commented on #355
They are references to a piece of an API inside a spec.

This has always worked and very suddenly doesn’t.

From: Chris Lott <notifications@github.com>
Sent: Saturday, December 29, 2018 5:02 AM
To: stoplightio/desktop <desktop@noreply.github.com>
Cc: Erikka Innes <einnes@telesign.com>; Mention <mention@noreply.github.com>
Subject: Re: [stoplightio/desktop] All API pages are broken! (#355)

Hey @er

[2019-01-07 15:25] distinctgrey opened #356 "HTTP Request Maker does not support all HTTP verbs"
The HTTP Request Maker does not support all HTTP verbs.
For example HEAD and OPTIONS cannot be chosen from the list of verbs.

![screenshot 2019-01-07 at 16 23 24](https://user-images.githubusercontent.com/1928790/50776266-d6d31f00-1298-11e9-9f50-2cac5ade1969.png)

Is there a workaround?
Or could these quickly be added in the next release?

[2019-01-07 22:17] tbarn commented on #356
Hey @distinctgrey! We are working on a new major version of our editor and we will make sure this is fixed in it. I don't think there's a great workaround, but to help me dig more in, what is the workflow that you are you using the HTTP request maker with?

[2019-01-07 22:26] #355 closed, assigned to nobody

[2019-01-08 12:05] distinctgrey commented on #356
We use it quite often to quickly test endpoints, without having to write a full-blow test scenario.
Including HEAD calls ;-)

[2019-01-08 17:33] tbarn commented on #356
Nice! 😄

But also 😞. It will get fixed, but not super soon.

[2019-01-08 22:14] tbarn commented on #346
Hey @tatiana-perry, we believe this issue is now fixed. I'm going to close for now unless you have a case where it is still happening.

[2019-01-08 22:14] #346 closed

[2019-01-09 06:13] aarunraja opened #357 "Export swagger Integer values treated as string"
When i try to export the swagger from stoplight and try to import to API Gateway (Azure API management) i am getting following error .
Parsing error(s): Invalid type. Expected Integer but got String. Path definitions.Address.allOf[0].properties.address1.maxLength'

Parsing error(s): Invalid type. Expected Integer but got String. Path 'definitions['NotificationSchedule Create'].properties.scheduleN

[2019-01-09 20:21] tbarn commented on #357
Hey @aarunraja, are you using the web or desktop app? It should be now fixed in the web app, and we will get it out in a release for the desktop app soon.

[2019-01-10 10:56] TheBabaYaga commented on #356
Fun fact: it does seem to work in the HTTP request maker, it just does not show the "HEAD" label in the drop down.

<img width="196" alt="screenshot 2019-01-10 at 11 52 14" src="https://user-images.githubusercontent.com/3961971/50963932-5695ff00-14ce-11e9-8cef-6ba1e2032f15.png">
<img width="362" alt="screenshot 2019-01-10 at 11 52 23" src="https://user-images.githubusercontent.com/3961971/50963938

[2019-01-15 22:56] remik opened #358 "Remote ref are not resolved"
If I try to resolve "all" or "remote" it is not resolving remote ref.

Project is private.
The example url: https://next-api.stoplight.io/files.export?projectId=8848&branch=version%2F2.17&path=public%20apis.oas2.yml&deref=all

The example export part:
[code]

[2019-01-16 16:31] tbarn commented on #358
Hey @remik, I believe we have a fix going out for this soon. Let me check in on the internal issue.

[2019-01-16 16:37] tbarn commented on #358
Just confirmed, the fix is in testing right now to fix that `deref=all` isn't dereferencing external references for private projects.

[2019-01-16 16:38] remik commented on #358
Great. Wait for the release :)

[2019-01-17 04:00] pytlesk4 commented on #358
@remik Release went out tonight, let us know if the issue is resolved.

[2019-01-17 12:03] remik commented on #358
All good now. Thanks!

[2019-01-17 12:03] #358 closed

[2019-01-18 23:57] denver-HJS opened #359 "Build & Publish - cryptic Docker error message"
When I try to build and publish my documentation portal I'm receiving an error, but there doesn't seem to be any feedback whether or not it's something I can resolve on my own.

The attached image shows the behavior.

![stoplight-build-error](https://user-images.githubusercontent.com/1916018/51418662-bbd69980-1b39-11e9-919a-231c9497ccd5.jpg)

[2019-01-19 03:14] rossmcdonald commented on #359
@denver-HJS It looks like one of our servers was misconfigured, which was causing doc builds to intermittently fail. The issue has been corrected now, but let us know if you run into any further issues.

[2019-01-19 03:14] #359 closed

[2019-01-21 11:07] distinctgrey opened #360 "Response schema rendering suddenly broken"
Since very recently response schemas do not show anymore, both in Read view (web version) and published docs. In the desktop app (4.7.0, macOS) it's still working.

**macOS app v4.7.0:**
![screenshot 2019-01-21 at 12 03 14](https://user-images.githubusercontent.com/1928790/51470719-009a4480-1d75-11e9-9dc6-cee6959122b5.png)

**web app / published docs:**
![screenshot 2019-01-21 at 12 03 27](https:/

[2019-01-22 13:01] TheBabaYaga opened #361 "Filter in design view is reset when you select an api call"
If you've set a filter in the _Design_ view and you click on an api call, the filter is reset to default.

[2019-01-22 23:12] rossmcdonald commented on #360
@distinctgrey Does your response schema use a combination type (`allOf`, for example)?

[2019-01-23 21:57] tbarn commented on #361
Hey @TheBabaYaga can you send over a screenshot of where you are doing this?

[2019-01-24 08:30] distinctgrey commented on #360
That's correct @rossmcdonald.

[2019-01-24 08:40] distinctgrey opened #362 "Bug report: env variable as basepath is escaped in test block"
In the swagger file, both host & base path refer to an env variable.
As shown in the screenshot below, in the "Send a test request" block hostname is correctly filled in, but basepath gets escaped:

<img width="742" alt="screenshot 2019-01-24 at 09 35 12" src="https://user-images.githubusercontent.com/1928790/51665340-d5556680-1fbb-11e9-991a-d5cf80c91b08.png">

Everything works as expected in the

[2019-01-24 08:54] TheBabaYaga commented on #361
When I filter:

<img width="372" alt="screenshot 2019-01-24 at 09 52 18" src="https://user-images.githubusercontent.com/3961971/51666308-d5566600-1fbd-11e9-83d0-316cb5d728d5.png">

After I click `get_links`:

<img width="369" alt="screenshot 2019-01-24 at 09 52 31" src="https://user-images.githubusercontent.com/3961971/51666327-dedfce00-1fbd-11e9-92ca-54aef67d4aa5.png">

I'm not sure if this is th

[2019-01-24 15:19] #360 closed

[2019-01-24 21:50] tbarn commented on #361
I see now. Definitely annoying. We are going to be working on search across the platform over the next few months, so we will make sure this doesn't keep happening there.

[2019-01-25 10:36] ydbondt commented on #334
+1 !
It's really strange that you can setup environments, but you can't authenticate to them because it doesn't support the env variables. :disappointed:

[2019-01-28 03:25] aarunraja opened #363 "Login with Azure B2C or OAuth2 Protocal"
I need to protect my document using authentication. i have already have a user in Azure B2C AD.  how i can integrate so that user can login with the existing Account.

[2019-01-28 22:01] tbarn commented on #363
Hey @aarunraja, would SAML support work for you?

[2019-01-29 16:53] tatiana-perry commented on #152
I'd like to bump this. We have a spec file that uses this and its a blocker for public release right now.

[2019-01-29 17:06] tbarn commented on #152
@tatiana-perry we have done some work to improve this in the current sprint. It isn't totally fixed, but it is working better for most use cases. Can you give me an example model to test out to see if it is working for you?

[2019-01-29 17:16] tatiana-perry commented on #152
Here is a link to the spec file in Stoplight:
https://next.stoplight.io/bigcommerce/api-documentation/version%2F1.0/Promotions.oas3.yml

You can really see it under the Condition Model compared to if you paste the same spec file into editor.swagger.io and view the Condition there.

[2019-01-29 17:21] tbarn commented on #152
This is in OAS 3, not OAS 2, right? Looks like it is working nicely in your OAS 2 document.

[2019-01-29 17:45] tatiana-perry commented on #152
It's not really working in OAS 2 either. If you have more than one ref in oneOf it will render the first one only.
You can see we have a lot of oneOf's especially under Condition or Rule.

[2019-01-29 17:51] tbarn commented on #152
Okay, I see your models are a bit different now in OAS 2 and OAS 3 for Condition. If you could share the raw schema here for what you want, that would be super helpful and I'll test it out with what we have fixed, but haven't released yet.

[2019-01-29 17:52] tbarn commented on #152
Or I can assume what you have OAS 3 is what you want. Just let me know!

[2019-01-29 17:52] tatiana-perry commented on #152
3.0 is what I want. The 2.0 is my attempt to move things around and make them render. So I'm just testing different setups right now.

[2019-01-29 19:10] tatiana-perry commented on #344
specia.io does a good job of showing recursive endpoints as well.
<img width="752" alt="screen shot 2019-01-29 at 1 09 19 pm" src="https://user-images.githubusercontent.com/16635677/51933522-1d62f780-23c7-11e9-9aa4-cf266576a446.png">
<img width="752" alt="screen shot 2019-01-29 at 1 09 19 pm" src="https://user-images.githubusercontent.com/16635677/51933562-353a7b80-23c7-11e9-8f22-4f8daf790984.png"

[2019-02-04 11:31] aarunraja opened #364 "How to set common Footer."
Hi..,
Is there a way to set common Footer in all my pages (oas2, hub).  to display contains elements that include a company's logo, website navigation, and contact information.

[2019-02-05 04:19] aarunraja commented on #364
@rossmcdonald thanks for the reply. Currently i have only those as requirement.
can i get timeline. so that i can estimate in my Backlog.

[2019-02-05 14:36] rsrinivasanhome commented on #364
@rossmcdonald  is there any work around available today ?

[2019-02-05 18:44] rossmcdonald commented on #364
@rsrinivasanhome There is no way to set a site-wide footer at this time, however you can create a custom footer HTML file and reference that at the end of every page in your hub to emulate a footer.

[2019-02-05 18:50] rossmcdonald commented on #364
@aarunraja This item has been added to our feature backlog for review by our engineering team. I don't have a timeline that I can share at this time, but I'll let you know as soon as they've been able to review and it's added to a sprint.

[2019-02-06 00:49] aarunraja commented on #364
@rossmcdonald Thanks.. I can able to achieve footer for a Hub file by added HTML tag at bottom. but Most of my pages are OpenAPI page type. is there a way to add HTML tag in  OpenAPI page type.

[2019-02-06 17:07] rossmcdonald commented on #364
@aarunraja No, currently you can't customize the auto-generated swagger output. I'll let you know as soon as there's an update from the team.

[2019-02-07 07:32] horatiucherebetiu opened #365 "We lost changes made yesterday"
Hello,

We lost changes made yesterday on https://next.stoplight.io/sdl-1.
Can you help?

Best regards,
Horatiu Cherebetiu

[2019-02-07 21:51] tbarn commented on #365
Hey @horatiucherebetiu!

In order to best help you with issues like this, it would be best to email into support@stoplight.io with the specific project you are seeing issues with. It will also help to have some more information on what you feel like you lost. Thanks!

[2019-02-07 21:51] #365 closed

[2019-02-07 22:02] tbarn commented on #152
Hey @tatiana-perry, can you test this out in your OAS2 specification in the web app? We released some updates to this area of the application and it looks like it might be fixed now, but I wanted to double check with you.

[2019-02-07 22:03] tbarn commented on #357
I'm going to go ahead and close this since it looks like it is fixed. We can reopen it if you are still seeing it in the web application.

[2019-02-07 22:03] #357 closed

[2019-02-08 15:21] tatiana-perry commented on #152
Looks like its fixed. Thanks

[2019-02-08 16:52] #152 closed

[2019-02-12 17:51] tbarn commented on #283
Hey @jayshao in the v4.8.0 we made some progress on the alerts that let you know others are editing, especially when you are open in multiple tabs, so hopefully this happens less.

[2019-02-12 17:51] tbarn commented on #353
Fixed in v4.8.0

[2019-02-12 17:51] #353 closed

[2019-02-12 17:52] tbarn commented on #350
This was fixed in v4.8.0, which was just released. You can see the changelot at: https://community.stoplight.io/t/changelog-v4-8-0/

[2019-02-12 17:52] #350 closed

[2019-02-12 17:53] #60 closed

[2019-02-12 17:53] #77 closed

[2019-02-12 17:53] #129 closed

[2019-02-12 19:48] celalo commented on #129
I am asking because the issue is closed. Is it resolved? I cannot verify if that's the case.

![kapture 2019-02-12 at 19 47 08](https://user-images.githubusercontent.com/220977/52663658-03fd9780-2eff-11e9-8e5a-d6df41e72bc0.gif)

[2019-02-12 19:59] tbarn commented on #129
Hey @celalo, sorry about that. We are only tracking issues with Stoplight Next in this repo now, which is why I closed this issue. Since we opened this one ourselves, I didn't notice you were watching it. We'll watch it internally.

[2019-02-13 10:47] rsrinivasanhome commented on #364
@rossmcdonald  do we have any idea now , when the feature would be available  ?

[2019-02-15 10:17] distinctgrey opened #366 "Bug report: cannot save lint changes"
Platform: both web app & macOS app.
Version: 4.8.0 (latest)

Steps to reproduce:
1/ Navigate to "lint" config file in a project.
2/ Toggle a rule

Expected behavior:
"Save" button becomes enabled.

Actual behavior:
"Save" button stays disabled. After reload of the screen, the changed rule is not persisted.

[2019-02-15 13:50] distinctgrey opened #367 "Bug report: OAuth2 Password Credentials grant sends both header & body"
When choosing the "Password Credentials" grant for OAuth2 token fetching, the option "Client Authentication" is shown.
The option "Send client credentials in body" adds ClientID and ClientSecret to the request body, as expected.

The option "Send as Basic Auth header" adds a base64 hash of ClientID and ClientSecret to an Authorization header (also as expected). But: they are also still added to th

[2019-02-20 02:09] pazaan opened #368 "Running `Generate From Schema` on a Model with a unique array constraint of enums causes Stoplight to hang"
Given the following model:
[code]

If I have a `PATH` that takes a Request Body that is a `$ref` to the model, and push the `Generate From Schema` button, an example is generated exactly as I expect it to be (albeit with duplicates).

If I change the model to the following:
[code]

Then the example is still generated as expected (still with potentially duplicate `role`s).

If I use the following m

[2019-02-21 09:41] Kapcash opened #369 "Schedule each scenario step with delay"
Just wondering if it is possible to **schedule scenario steps with some delay**?
I'm testing out some APIs that use dates and I can't find any way to delay the steps so that the sending date as timestamp isn't the same.

Should I use a before script and run something like `setTimeout()`? I can't manage to make it work, and it doesn't look like a proper solution, more like a workaround.

Any sugges

[2019-02-21 13:23] DawMatt opened #370 "Bug report - OpenAPI 3 file marked as valid but Read mode shows Page Not Found"
Hi,

I imported the attached OpenAPI 3 YAML file into v4.8.1.

Read Mode shows "Untitled Hub" and "Page Not Found". Code Mode shows OK but offers no advantage over the text editor I was previously using for OpenAPI editing. Stoplight tells me the spec is valid so I would appreciate the help resolving this issue.

Tested on Windows 10 and Mac desktop clients. Same result.
[Example API.yaml.zip](htt

[2019-02-21 16:41] pytlesk4 commented on #369
Great question, try `SL.sleep(ms)` in a before script. Docs can be found [here](https://docs.stoplight.io/mocking/javascript-runtime#stoplight-object-sl).

[2019-02-21 18:38] rosasynstylae opened #371 "Bug Report: Cannot access project named "Activity""
Hello!

My organization created a project named "activity" but, when I clicked on the page, it redirected to the activity tab instead. I managed to delete the project, but thought you guys should know!

[2019-02-21 22:20] tbarn commented on #371
@rosasynstylae thanks for that! Kind of shocked no on noticed that sooner. 😅

[2019-02-21 22:22] tbarn commented on #370
Hey @DawMatt could you show how you have the Hub setup? Specifically the "Page Settings"

Like this:
<img width="1108" alt="screen shot 2019-02-21 at 4 22 22 pm" src="https://user-images.githubusercontent.com/2008034/53205775-edd59280-35f4-11e9-878a-5387109fc9c7.png">

[2019-02-21 23:50] DawMatt commented on #370
Hi,

My settings are the defaults. I haven't changed anything re My Hub.

I also couldn't find the settings you are looking for. I've attached a screenshot of the UI visible when this file has been imported. Essentially the UI appears broken after importing the file. Nothing appears in the documentation/My Hub area.

When I import the file I do select the "import as OpenAPI 3" option.

Thanks, Mat

[2019-02-22 00:15] rosasynstylae commented on #371
@tbarn Stuff like that's easy to miss! I totally get it - I do a lot of frontend dev work. Good luck fixing it!

[2019-02-22 14:35] Kapcash commented on #369
Work like a charm! Nevertheless, steps doesn't update their status (OK / Fail) until all of them finished. So we don't know where the scenario stops with that delay. But that is confort :)
Thanks!

[2019-02-22 14:35] #369 closed

[2019-02-22 16:32] tbarn commented on #370
Oh okay. I misunderstood where you were seeing the page not found error. I've looked into the OAS3 document you have uploaded and there definitely seems to be some kind of a bug here. We'll need a bit of time to investigate to see what might be going on.

[2019-02-25 16:05] tbarn commented on #319
@nirsoffer-spotcap Good news! This has been added to the next sprint.

[2019-02-25 16:21] tbarn commented on #366
Sorry about not updating here sooner. We have a fix for this now. Will follow up here: https://community.stoplight.io/t/bug-report-cannot-save-lint-rule-changes/494/2

[2019-03-13 15:36] linas-hef commented on #370
Hi. I stumbled upon this myself just now.

Through some quick testing, i found out that it fails to display anything if there's a securityScheme defined with type `oauth2` in /components

changing the type to whatever invalid string, `oauth2sss`, fixes the output in Read page

[2019-03-19 11:38] RonaldV opened #372 "OAuth2 implicit grant should not ask for client secret"
As the title says. In next the OAuth2 implicit grant should not ask for a client secret.

[2019-03-19 11:46] RonaldV opened #373 "Get access token for "Send a Test Request" should ask for what kind of auth you want to do."
At the moment in Next you can not choose the kind of security scheme in "Send a Test Request" you want to get an access token for. So it is not clear how you're authenticating to the API.

[2019-03-23 01:56] imhogan opened #374 "OAS 3.0 parse issues"
Hi,
I have an OAS 3.0 YAML file which does not import correctly, however if I use http://convertjson.com/yaml-to-json.htm to convert to JSON, then the file loads okay in stoplight.io. The file is attached.

[QrveyWithQuestionsV3.2.oas3.txt](https://github.com/stoplightio/desktop/files/2998900/QrveyWithQuestionsV3.2.oas3.txt)
 Hopefully this may be a quick fix.
Blessings,
Ian Hogan.

[2019-03-24 05:31] DawMatt commented on #370
Thanks @linas-hef ! Adding "_workaround" to the end of "oauth2" in the securitySchemes area of the file means I can at least view it in read mode now. Great tip, and hopefully will help them track down the issue. Updated example attached, and if you remove the "_workaround" text from the end of the oauth2 statement will break read mode in the current version of Stoplight.
[OAS3 Read Mode-ExampleAP

[2019-03-25 17:56] tbarn commented on #307
Live in v4.8.0

[2019-03-25 17:56] #307 closed

[2019-03-25 18:05] tbarn commented on #370
A fix for the original problem should be going out in the next release

[2019-03-25 18:51] brianmrock commented on #374
Hi Ian,

I ran this file into our tool and a few others and generally am getting the following errors.  Looks like your file may be invalid.

Structural error at components.schemas.AddressQuestion
should have required property '$ref'
missingProperty: $ref
Jump to line 184
Structural error at components.schemas.AddressQuestion
should match exactly one schema in oneOf
Jump to line 184
Structural err

[2019-03-25 18:52] brianmrock commented on #374
Take a look at those errors, and let me know if you have any additional questions.

[2019-03-26 14:13] tbarn commented on #319
Hey @nirsoffer-spotcap

We plan to display the Audience parameter only if we detect that authorize_url/token_url belong to Auth0.

Auth0 provides it’s endpoints like that: client-name.auth0.com/token… so it’s easy to detect
but you can also put your custom domain there so there will be no way to detect on our side whether it is Auth0 or not.

Question: Are you using an *.auth0.com domain or custom

[2019-03-27 07:32] imhogan commented on #374
Hi Brian,  thanks for that. As I mentioned though, if I used the online YAML to JSON converter the resultant JSON does load okay. If I get a chance in the next couple of days I will try converting the JSON back to YAML and compare that with the original YAML.

Blessings,Ian Hogan.Mobile: +61 (0) 417 013553Ian MacDonald Hogan IT Services

    On Tuesday, 26 March 2019, 4:52:12 am AEST, Brian Rock <

[2019-04-03 07:41] ntiss commented on #338
Hi everyone,

I reopen the case. This issue is back with your latest release 4.9.0.
I can see only 10 orgs instead of 25.
BR.

[2019-04-03 13:34] tbarn commented on #338
@ntiss is it only happening for orgs, or does it happen for people again too?

[2019-04-03 14:14] ntiss commented on #338
Hi @tbarn
I confirm, it's only for the orgs. Everything is ok for the users.
This time, it's a bug only in the UI because the API responses contains 25 orgs

[2019-04-10 19:14] tbarn commented on #370
Hey @DawMatt, there was a fix for this in the latest release. Are you still having the issue?

[2019-04-10 19:15] #366 closed

[2019-04-10 19:15] tbarn commented on #366
I will continue on this in the forum.

[2019-04-10 20:11] DawMatt commented on #370
Hi @tbarn,

I just downloaded and installed to try this out. The issue is *kind of* fixed.

I have both the original file and the workaround version of the file (see earlier in the thread) present in the same testing project. So I tried the following steps:

1. Open project
1. Click on the problematic .oas file in the modeling section.
1. Click on the workaround .oas file in the modeling section.

[2019-04-11 21:29] tbarn commented on #370
Hey Matt, can you send an email into support@stoplight.io? So we can make sure we are looking at the same files in your project and chat more. Reference this GitHub thread and I'll hop onto to our Intercom chat.

[2019-04-12 11:24] DawMatt commented on #370
Thanks @tbarn . Email sent, along with some more details about exactly how I reproduced the issue.

[2019-04-17 23:43] erik-hansen commented on #207
The proposed workaround produces separate models rather than nicely leveraging the spec to have a single model.  Your rendered docs display "readOnly" as a validation when true, but the field should be hidden/removed completely and not added to the "Send Test Request" body.
![image](https://user-images.githubusercontent.com/6989957/56327564-b6d0b880-612f-11e9-8122-bcbc471323cb.png)

Also, the sche

[2019-04-17 23:45] erik-hansen commented on #293
Update on progress? This is a frequent annoyance...

[2019-04-18 17:30] brianmrock commented on #293
Moved this to Jira / ZD.

[2019-04-18 17:30] #293 closed

[2019-04-22 07:41] yazmin48 commented on #319
Does anyone knows if this issue was solved? Because I want to use client-credentials flow and audience parameter is sended null.

[2019-05-03 05:42] redplane commented on #247
I'm haing same issue with `next.stoplight.io` on web.
I use web prism that provided by stoplight, but failed.

[2019-05-03 14:35] voxelbusters commented on #207
May I know when there will be an option for readonly flags?

[2019-05-06 16:26] tbarn commented on #247
@redplane can you give more details of what your setup is like? This error can appear for different problems so it might be something different.

[2019-05-30 18:55] tbarn commented on #105
@bradobro @krismeister good news! this is coming back in a new form. we'd love to have you beta test it. let us know if you are interested.

/cc @philsturgeon

[2019-05-30 19:21] krismeister commented on #105
@tbarn that is super awesome. Right now on stoplight NEXT, we copy and paste our JSON into the code tab, so we know we have the latest Specs that are in the code branch we're working in.

We would like to beta test this.

[2019-06-20 14:15] distinctgrey commented on #373
Any updates on this one?
We are struggling with the same issue.

[2019-06-20 14:15] distinctgrey commented on #372
Any updates on this one?
We are struggling with the same issue.

[2019-06-20 14:16] distinctgrey commented on #367
Any updates on this?
This is pretty much a blocker for our API testing with Stoplight...

[2019-09-18 17:50] rowa97 opened #387 "Description Field for Path Parameter, Header, and Query Parameter not displaying properly"
**Describe the bug**
When adding a description to a path parameter, header, or query parameter in design view, the field displays improperly and cannot be used.

**To Reproduce**

1. Create a Path Parameter, Header, or Query Parameter in design view
2. Add a description by clicking the book icon

**Expected behavior**
A field appears that allows you to add a description.

**Screenshots**
![Screen

[2019-09-24 15:12] MSalaah96 opened #388 "Convert json to yaml direct"
this is an open-source application convert JSON to yaml
[JSON To YAML](https://swagger-toolbox.firebaseapp.com/)
we can make to be a feature when adding objects  in the application

[2019-11-05 15:42] apiv-thomas opened #389 "Support map type in query string definition"
In the query string definition of a parameter, we can choose `array[string]` as a type.

We would like a map type so we can describe this kind of query string:

`/videos?metadata[height]=720`

[2019-11-14 08:34] danielerota commented on #354
Same problem today

[2020-01-17 20:29] rowa97 opened #391 "Next Desktop: Modeling Markdown fields do not scroll when text exceeds its capacity"
**Describe the bug**
Modeling Markdown fields do not scroll when text exceeds its capacity.

**To Reproduce**

1. Add a large amount of text to a modeling file's markdown field within Design View
2. Try to scroll down to view the additional text that does not display

**Expected behavior**
A scroll appears when the text exceeds the physical capacity of the text field

**Screenshots**
![Screen Shot

[2020-02-13 08:20] TheBabaYaga opened #392 "Question; Can you loop over a step multiple times based on another step?"
Hi,

I was wondering if it's possible to loop over a step multiple times based on the output of another step.

Use case:

We have 2 api calls;
- api/collection
- api/collection/{id}

The collection api call returns something like:

`{
  "data": [
    {
      "id": "12345"
    },
    {
      "id": "6789"
    }
  ]
}`

Based on this output, I want to run a test for each object inside the data collec

[2020-03-10 14:55] Hipska opened #393 "i.translateParameterObject is not a function"
**Describe the bug**
Since update to latest version I constantly get the following error message:

**To Reproduce**

1. Open any OpenAPI document
2. Click somewhere to add new schema property
3. See error

**Screenshots**
<img width="361" alt="image" src="https://user-images.githubusercontent.com/228588/76324950-05a6b400-62e7-11ea-8460-78aeab1d9e33.png">

**Environment:**
 - App version: 1.10.1.17

[2020-06-07 05:04] Herrick19 opened #394 "Server Variable Object are not implemented"
Hi,

OpenAPI support a feature called "Server Variable Object" that allows to define variable in Servers as you can see here:
http://spec.openapis.org/oas/v3.0.3#server-variable-object

Stoplight has not implemented this section and it's causing issues as:
1- No way to configure this using the Forms, you need to go in "Code" to deal with this.
2- In Preview/Try It, nothing works as there is no way